[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
g4f = {extras = ["all"], version = "*"}
json-repair = "*"

[dev-packages]

[requires]
python_version = "3.12"
